<head>
    <title>Chaos Bronies</title>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.png">
    <meta name="theme-color" content="#000000">
    <meta name="og:title" content="Chaos Bronies">
    <meta name="description" content="Chaos Bronies">
    <meta name="og:description" content="Chaos Bronies">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 20px 10px;
            background-color: #000;
            color: #fff;
        }
        main {
            max-width: 1000px;
            margin: auto;
            min-height: calc(100vh - 40px - 2em - 10px);
            position: relative;
            padding-bottom: calc(2em + 10px);
        }
        main p {
            font-family: monospace;
            font-size: 2em;
        }
        footer {
            position: absolute;
            bottom: 0px;
        }
        a {
            color: #0d9aff;
        }
        #headline {
            width: 100%;
        }
    </style>
</head>
<body>
    <main>
        <a href="https://t.me/chaosbronies">
            <img id="headline" src="chaosbronies.svg" alt="@chaosbronies">
	</a>
        <p>
            <a href="https://signup.c3assemblies.de/assembly/bac813f7-99b1-4e28-8221-6943adc8b2df">Assembly</a><br><br>
            Contact:<br>
	    - Telegram group: <a href="https://t.me/chaosbonies">@chaosbronies</a><br>
	    - Mastodon: <a href="https://chaos.social/@chaosbronies">@chaosbronies@chaos.social</a><br>
	    - Twitter: <a href="https://twitter.com/chaosbronies">@chaosbronies</a><br>
        </p>
        <footer>
            <p id="source_link"><a href="https://gitlab.com/TilCreator/bronies.rc3.io">source</a></p>
        </footer>
    </main>
</body>
